DJANGO_SECRET_KEY=change-me-in-local-env
DEBUG=1
DJANGO_LOGLEVEL=INFO
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DATABASE_ENGINE=postgresql
DATABASE_NAME=acu_chatbot
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=db
DATABASE_PORT=5432

OLLAMA_BASE_URL=http://ollama:11434
ACADEMIC_AGENT_MODEL_ID=qwen2.5:3b
HGF_EMBEDDING_MODEL_ID=BAAI/bge-small-en-v1.5
VECTOR_STORE_PERSIST_DIR=chromadb-data

APP_NAME=aws_acu_chatbot
LOG_LEVEL=DEBUG
LOG_DIR=logs
